<!DOCTYPE html>
<html>
<head>
    <title>
        Login
    </title>
    <div class="container-fluid">
        <nav>
          Mateaify
        </nav>
      </div>


</head>
<h1>Para continuar, inicia sesión</h1>
   
<body>
    <form>
        <input type="email" name="">
        <input type="password" name="">
    </form>
    
    <a href="home.html">INICIA SESIÓN</a>
</body>
<footer>
    <div class="container-fluid">
      
    </div>

    <a href="register.html">REGISTRATE</a>
  </footer>

</html>