<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <title>Nueva Playlist</title>
  </head>
  <body class="text-center text-white">
    <header class="head">
      <div class="row">
        <div class="col-md-12">
          <div class="body__header--negro">
            <nav>
              <div class="header__nav--logo">
                <img class="img-fluid" src="../images/LogoSoloBlancoFondoTransparente.png" alt="">
                <span id="logo-blanco">Mateify</span>
              </div>
              <div class="header__nav--a">
                <a href="register.html">Usuario</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="body__page">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Baila sin parar</h1>
            <hr>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <input id="input" class="typeahead form-control" type="search" placeholder="Buscar una Cancion">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h6>Canciones populares en tu zona</h6>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Agregar</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Reproducciones</th>
                  <th scope="col">Duración</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><img class="new-playlist__body__table--add" src="../icons/add_circle-24px.svg" alt=""></td>
                  <td>Dame Dame</td>
                  <td>Claydee feat</td>
                  <td>25</td>
                  <td>3:15</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>...</td>
                  <td>Dame Dame</td>
                  <td>Claydee feat</td>
                  <td>25</td>
                  <td>3:15</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>...</td>
                  <td>Dame Dame</td>
                  <td>Claydee feat</td>
                  <td>25</td>
                  <td>3:15</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>...</td>
                  <td>Dame Dame</td>
                  <td>Claydee feat</td>
                  <td>25</td>
                  <td>3:15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p id="new-playlist__body--p">Show More</p>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <div class="body__footer--negro">
            <p id="footer__p--blanco">Diseñado en Uruguay</p>
            <img class="spotify__green" src="../images/SpotifyLogoGreen.png" alt="">
            <span id="footer__span--blanco">Powered by</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>